<a href="https://colab.research.google.com/github/ajiepamungkasep/Twitter-Sentiment-Analysis/blob/main/Twitter_Scraping.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Install tweepy package

In [ ]:
!pip install tweepy==4.9.0

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting tweepy==4.9.0
  Downloading tweepy-4.9.0-py3-none-any.whl (77 kB)
     |â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 77 kB 3.4 MB/s
Collecting requests<3,>=2.27.0
  Downloading requests-2.28.1-py3-none-any.whl (62 kB)
     |â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 62 kB 1.4 MB/s
Requirement already satisfied: oauthlib<4,>=3.2.0 in /usr/local/lib/python3.7/dist-packages (from tweepy==4.9.0) (3.2.0)
Requirement already satisfied: requests-oauthlib<2,>=1.2.0 in /usr/local/lib/python3.7/dist-packages (from tweepy==4.9.0) (1.3.1)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests<3,>=2.27.0->tweepy==4.9.0) (2.10)
Requirement already satisfied: charset-normalizer<3,>=2 in /usr/local/lib/python3.7/dist-packages (from requests<3,>=2.27.0->tweepy==4.9.0) (2.1.1)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests<3,>=2.27.0->tweepy==4.9.0) (2022.6.15)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests<3,>=2.27.0->tweepy==4.9.0) (1.24.3)
Installing collected packages: requests, tweepy
  Attempting uninstall: requests
    Found existing installation: requests 2.23.0
    Uninstalling requests-2.23.0:
      Successfully uninstalled requests-2.23.0
  Attempting uninstall: tweepy
    Found existing installation: tweepy 3.10.0
    Uninstalling tweepy-3.10.0:
      Successfully uninstalled tweepy-3.10.0
Successfully installed requests-2.28.1 tweepy-4.9.0

Import module

In [ ]:
import pandas as pd
import tweepy

Connect to Twitter API

In [ ]:
client = tweepy.Client(bearer_token='AAAAAAAAAAAAAAAAAAAAAD2ygwEAAAAASMlyLaX8RtM2%2Bv8CS96a3Bfo9so%3Dnd8jc4oOD1XD5DbPD0k65WvnAPamjcbzNqnvFaYN8LAVaoCpK2')

Twitter scraping ---- here I use word 'polisi' without retweet text in bahasa Indonesia for the query, the amount of the tweets is about 1000 tweet. The date time of the recent tweets are from 2022-10-05 : 08.30 PM UTC +7

In [ ]:
query = 'polisi -is:retweet lang:id'
paginator = tweepy.Paginator(
    client.search_recent_tweets,
    query=query,
    max_results=100,
    limit=10)

Manifest the tweets

In [ ]:
tweet_list = []
  
for tweet in paginator.flatten():
  tweet_list.append(tweet)
  print(tweet)

Put the tweets into df and either into csv file

In [ ]:
tweet_df = pd.DataFrame(tweet_list)
tweet_df = pd.DataFrame(tweet_df['text'])
tweet_df.to_csv('polisi.csv')
tweet_df

                                                  text
0    @fadlizon Pak bukannya DPR juga menganggarkan ...
1              @txtdrberseragam KNP JADI POLISI ANJG ðŸ˜­
2    Jumlah anggota Polri yang diperiksa terkait Tr...
3    Gduwe doyo maneh gae menghakimi polisi yaallah...
4    Padahal orang tua nya di bunuh polisi https://...
..                                                 ...
988                   Polisi sibuk bikin video humanis
989  Najwa Shihab akan Laporkan Kepada Polisi, Niki...
990  Tiba di Malang, Kapolri Jenguk Korban Tragedi ...
991  Retweet &amp; Follow Biar Ga Hilang\n--\nKolek...
992  [VIDEO] APES, Dua Polisi yang Jilat Kue dan Hi...

[993 rows x 1 columns]

In [ ]:
tweet_df.info()
tweet_df.shape

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 993 entries, 0 to 992
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   text    993 non-null    object
dtypes: object(1)
memory usage: 7.9+ KB

(993, 1)